<aside>
	<div class="panel radius">
		<h3>About the Blog</h3>
		<p>
			There really isn't a whole lot to write here aside from the fact that this contains lots of information from a lot of different sources, so don't feel overwhelmed when looking at the Archive as a whole. Everything is separated by categories, and can be found at the bottom of each post. You can also go to your URL bar and type in the category after <a href="{{ site.url }}{{ site.baseurl }}">https://wesleythacker.com</a>. For example, the category "Thoughts" could be found this way by typing in <a href="{{ site.url }}{{ site.baseurl }}/thoughts">https://wesleythacker.com/thoughts</a>.
		</p>
	</div>

  <!--<img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside>-->